html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  } /* Это прям "вау-эффект" за 1 строку */

:root {
  --header-height: 70px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color:rgb(155, 120, 120);
 
  background-image: url("https://i.pinimg.com/736x/77/13/d5/7713d5750d4d41581f560116be185a5a.jpg");
  background-size: cover; /* Растягивает изображение на всю область */
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Запрещает повторение */
  background-attachment: fixed; /* Фиксирует фон при прокрутке */

}

header {
  position: sticky;
  top: 0;
  background: #c2835e;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2); /*будет выглядеть дороже*/
  background-size: cover; /* Растягивает изображение на всю область */
  z-index: 100;
}


header .container{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
   
}

.logo {
  flex: 1;
  margin: 0;
  padding-top: 0;
  color: #54433a;
  font-family: William, serif;
  font-weight: normal;
  font-size: 36px;
  font-style: italic;
  text-transform: uppercase;
  
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 10px;
}

.hero-text {
  flex: 1;
  justify-content: center;
  max-width: 500px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color:#54433a;
}

.hero-sub {
  /* max-width: 500px; */
  text-transform: uppercase;
  color: #401100;
  text-align: center; /* центрируем подзаголовки */
}

.hero-image {
  flex: 1;
  display: flex;
  /* padding-right: 20px; */ 
  justify-content: center;
}

.hero-image img {
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
}

#hero .container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  background-color: #c2835e;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px; /* ограничиваем ширину контейнера */
  margin: 0 auto; /* центрируем контейнер */
}

#hero {
  padding: 20px 0;
  min-height: 70px;
  display: flex;
  align-items: center;
}

.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #401100;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.scroll-top:hover {
  background: #c2835e;
}


.nav {
  margin: 0 auto;
  color: #330000; 
  background: transparent; /* Чтобы sticky меню не пряталось */
  /* width: 100%; */
  /* z-index: 100; /* Чтобы sticky меню не пряталось */ */
}

.nav ul {
  display: flex;
  justify-content: center; /* Распределение кнопок*/
}

.nav li {
    margin-right: 15px;
}

.nav a {
  font-weight: bold;
  text-decoration: none;
  color: #330000;
  padding: 8px 12px;
  border-radius: 5px;
}

.nav a:hover {
  background-color: #330000;
  color: #ffe8d1;
}

.features-list {
  display: flex;
  flex-direction: column; /* карточки идут в колонку */
  gap: 20px;
  align-items: center; /* центрируем карточки по горизонтали */
  /* align-items: stretch; /* распределяем по горизонтали */ */
  flex-wrap: wrap;
} /* создаем карточки */

.feature {
  max-width: 500px; /* фиксируем ширину карточки */
  width: 100%; /* занимаем доступную ширину (с учётом max-width) */
  flex: 1;
  display: flex;
  gap: 10px;
  scroll-margin-top: var(--header-height);
  /* scroll-margin-top: 120px; */ 
  flex-direction: column;
  align-items: center; /* Центр по экрану */
  text-align: center;
  position: relative;
  background-color: #c2835e; 
  /* max-width: 800px; /* База всех сайтов */ */
  margin: 0; /* База всех сайтов */
  padding: 20px 20px;
  border-radius: 8px;
  border: 0.5px solid #ffe8d1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s; /* делай карточки живыми */
} /* Параметры карточек */

.feature p {
  margin: 0; /* обнуляем стандартные отступы */
}

.feature:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
} /* живые карточки */

h2 {
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #54433a;
}

.features h3 {
  text-align: center;
  margin-bottom: 0;
  color: #54433a;
}

.program {
  padding: 10px;
  
}

.program-list {
  display: flex;
  gap: 20px;
  align-items: stretch;
 
}

.program-list ul {
  flex: 1;
  list-style: none;
  background: #c2835e;
  padding: 20px 20px 10px;
  border-radius: 8px;

}

.program-list li {
  margin-bottom: 10px;
  
  }

.about-list {
  display: flex;
  gap: 20px;
  align-items: stretch;
  padding: 10px;
}

.about-content {
  flex: 1;
  background: #c2835e;
  padding: 20px;
  border-radius: 8px;
} /* делает как карточки */


.reviews-list {
  display: flex;
  gap: 20px;
  align-items: stretch;
  padding: 10px;
}

.review {
  flex: 1;
  background: #be8462;
  padding: 20px;
  border-radius: 8px;
} /* делает как карточки */

.gallery {
  padding: 20px 0;
}

.gallery-list {
  display: block; /* убрать лишние отступы между картинками */
  flex-wrap: wrap;
  gap: 20px;
} /* база */

.gallery-list img {
  width: calc(50% - 10px);
  border-radius: 8px;
  height: 500px; /* одинаковая высота */
  object-fit: cover; /* аккуратная сетка */
}

.footer {
font-size: 12px;
line-height: 1.4;
margin-left: 20px;
margin-bottom: 10px;
color: #330000;
}

.btn {
  flex: none; /* кнопка не растягивается */
  display: inline-block;
  background: #ec9679;
  color: #fff5e9;
  padding: 12px 20px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
  transition: 0.3s;
} 

.btn:hover {
  background: #d87f5f;
  color: #330000;
  transform: scale(1.05);
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  #hero .container {
    flex-direction: column;
    
  }
  .nav ul {
    flex-direction: column;
    align-items: center;
  }
.nav {
    display: none;
  }

  .burger {
    display: block;
  }
  .btn {
    display: inline-block;
    
  }
.gallery-list img {
    width: 100%;
    height: 500px;
  }
}